apiVersion: v1
kind: Namespace
metadata:
  name: demo-istio
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-istio
  namespace: demo-istio
spec:
  replicas: 1
  template:
    metadata:
      name: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          protocol: TCP