---
apiVersion: v1
kind: Deployment
metadata:
  name: istio-demo-nginx
  namespace: demo-istio
spec:
  replicas: 1
  template:
    metadata:
      name: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          protocol: TCP
